<!DOCTYPE html>
<html lang="en">

<body class="content-frame">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chase</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"></script>
  </head>
  <link rel="apple-touch-icon" href="/favicon.ico">
  <div hx-trigger="load" hx-get="/navbar" class="menu-bar"></div>
  <div>
    <h1 class="heading">Welcome to Chase's Budget</h1>
    <div hx-trigger="load" hx-get="/budgetData"></div>
  </div>
  <ul>
    <li>
      <h3 style="margin-left: 10px;">Create a Transaction</h3>
      <div class="floating-box">
        <form hx-put="/create-transaction" hx-target="body" hx-swap="innerHTML">
          <div class="inputGroup">
            <label for="transactionAmount">Transaction Amount</label>
            <input type="number" name="transactionAmount" placeholder="Enter transaction amount" required>
          </div>
          <div class="inputGroup">
            <label for="transactionDate">Transaction Date</label>
            <input type="date" name="transactionDate" required>
          </div>
          <button class="floating-button" type="submit">Add Transaction</button>
        </form>
      </div>
    </li>
    <li>
      <h3 style="margin-left: 10px;">Bulk Upload</h3>
      <div class="floating-box">
        <!-- <form hx-put="/bulk-upload" hx-target="body" hx-swap="innerHTML">
          <div class="inputGroup">
            <label for="exportCsv">Transaction Amount:</label>
            <input type="file" name="exportCsv" placeholder="Upload a CSV" required>
          </div>
          <button class="floating-button" type="submit">Bulk Upload</button>
        </form> -->

        <form id='form' hx-encoding='multipart/form-data' hx-post='/bulk-upload'>
          <label for="file">Upload a CSV</label>
          <input type="file" name="file" placeholder="Upload a CSV">
          <progress id='progress' value='0' max='100'></progress>
          <button class="floating-button" type="submit">Bulk Upload</button>
        </form>
        <script>
          htmx.on('#form', 'htmx:xhr:progress', function (evt) {
            htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
          });
        </script>
      </div>
    </li>
  </ul>
</body>

</html>
