<!DOCTYPE html>
<html lang="en">

<body class="content-frame">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chase</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"></script>
  </head>
  <div hx-trigger="load" hx-get="/navbar" class="menu-bar"></div>
  <h1>Photo Gallery</h1>
  <div id="gallery" class="row">
    <script>
      async function fetchPhotos() {

        const response = await fetch('https://storage.googleapis.com/storage/v1/b/chasedv-photos/o');
        const data = await response.json();
        const COLUMN_COUNT = 4;
        for (let i = 0; i < COLUMN_COUNT; i++) {
          const column = document.createElement('div');
          column.className = 'column';
          column.id = `column${i + 1}`;
          gallery.appendChild(column);
        }
        let imageCount = 0;
        async function recursiveRender(index) {
          console.log('rendering recursively', index);
          if (index < data.items.length) {
            if (data.items[index] && data.items[index].contentType == 'image/jpeg' && data.items[index].name.includes('-thumbs')) {
              const thumbnail = data.items[index];
              const fullSize = data.items.find(item => item.name === data.items[index].name.replace('-thumbs', ''));
              const a = document.createElement("a");
              a.href = `https://storage.googleapis.com/${fullSize.bucket}/${fullSize.name}`;
              a.target = "_blank";
              const img = document.createElement('img');
              img.src = `https://storage.googleapis.com/${thumbnail.bucket}/${thumbnail.name}`;
              img.alt = thumbnail.name;
              img.onload = () => {
                console.log('loaded', index);
                recursiveRender(index + 1);
              };
              img.loading = 'lazy';
              const column = document.getElementById(`column${(imageCount % COLUMN_COUNT) + 1}`);
              a.appendChild(img);
              column.appendChild(a);
              imageCount++;
            } else {
              recursiveRender(index + 1);
            }
          }
        }
        recursiveRender(0);
      }

      fetchPhotos();
    </script>
  </div>
</body>

</html>
</div>
