<!DOCTYPE html>
<html lang="en">
  <body class="content-frame">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Chase</title>
      <link rel="stylesheet" href="./styles/styles.css" />
      <script
        src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"
      ></script>
    </head>
    <ul class="menu-bar">
      <li><a href="/">Home</a></li>
      <li><a href="/jokes">Jokes</a></li>
      <li><a href="/contact">Contact</a></li>
      <li class="float-right"><a class="active" href="/about">About</a></li>
    </ul>
    <div class="essay-page">
      <header>
        <section>
          <h1>About This Demo</h1>
          <p>
            Welcome to Chase's Website, where innovation meets simplicity! Our
            platform showcases the powerful combination of a robust Go backend
            and a dynamic HTMX frontend to deliver a seamless and efficient web
            experience.
          </p>
        </section>
      </header>

      <section>
        <h2>Our Vision</h2>
        <p>
          At Chase's Website, I believe in harnessing the latest technologies to
          create web applications that are not only performant but also
          user-friendly. My vision is to showcase the capabilities of Go and
          HTMX, demonstrating how they can work together harmoniously to elevate
          your web development projects.
        </p>
      </section>

      <section>
        <h2>What Sets Us Apart</h2>
        <h3>Go Backend</h3>
        <p>
          Our backend is powered by the Go programming language, known for its
          speed, simplicity, and efficiency. Whether you're handling complex
          data processing or building scalable APIs, Go's concurrent and
          statically-typed nature ensures a smooth and reliable backend
          experience.
        </p>
        <h3>HTMX Frontend</h3>
        <p>
          On the frontend, I leverage the power of HTMX to bring your web pages
          to life. HTMX allows for seamless communication between the client and
          server, enabling dynamic updates without the need for complex
          JavaScript frameworks. Say goodbye to tedious manual DOM manipulation
          and embrace the simplicity of HTMX.
        </p>
      </section>

      <section>
        <h2>Key Features</h2>
            <h3>Efficiency</h3>
            <p>
              Go's speed combined with HTMX's lightweight approach ensures fast
              and responsive web applications.
            </p>
            <h3>Interactivity</h3>
            <p>
              Experience real-time updates and interactivity without sacrificing
              simplicity, thanks to HTMX's declarative approach.
            </p>
            <h3>Scalability</h3>
            <p>
              Whether you're a solo developer or part of a large team, my demo
              showcases the scalability of Go and the ease of development with
              HTMX.
            </p>
      </section>
      <section>
        <h2>How to Use the Demo</h2>
        <p>
          Explore my demo to see the seamless integration of Go and HTMX in
          action. Dive into the source code to gain insights into best
          practices, learn how to structure your projects, and discover the
          potential of this powerful tech stack.
        </p>
      </section>

      <footer>
          <p class="footer">&copy; 2023 Chase's Website. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
