<!DOCTYPE html>
<html lang="en">
  <body class="content-frame">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chase</title>
      <link rel="stylesheet" href="./styles/styles.css">
      <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    </head>
    <ul class="menu-bar">
      <li><a href="/">Home</a></li>
      <li><a href="/jokes">Jokes</a></li>
      <li><a href="/contact" class="active">Contact</a></li>
      <li style="float:right"><a href="/about">About</a></li>
    </ul>
    <div>
      <h1 class="heading">Contact Chase</h1>
    </div>
    <div>
      <div class="term hstack">
        <p>Phone:</p>
        <p>Email:</p>
        <p>Fax:</p>
      </div>
      <div class="definition hstack">
        <p>(555) 555-5555</p>
        <p>chase@chase.com</p>
        <p>(333) 333-3333</p>
      </div>
    </div>
    <div class="floating-box containerdivNewLine">
      <p>Obviously this contact information is all fake. If you've stumbled upon this website and actually want to contact me, you can't.</p>
    </div>
    <div>
      <h2>Leave a comment</h2>
      <textarea></textarea>
    </div>
    <div class="containerdivNewLine">
      <button class="floating-button">Send it</button>
    </div>
    <div>
      <h2>Comments</h2>
    </div>
    <div class="floating-box" id="comment-box">
      <p>Woah</p>
    </div>
    <div>
      <button hx-put="/comment" hx-target="#comment-box" hx-swap="outerHTML" class="floating-button">Tell me a joke</button>
  </body>
</html>