<ul class="menu-bar">
  {{ if eq .Referer "/" }}
  <li><a href="/" class="active">Home</a></li>
  {{ else}}
  <li><a href="/">Home</a></li>
  {{ end }}

  {{ if eq .Referer "/jokes" }}
  <li><a href="/jokes" class="active">Jokes</a></li>
  {{ else}}
  <li><a href="/jokes">Jokes</a></li>
  {{ end }}

  {{ if eq .Referer "/photos" }}
  <li><a href="/photos" class="active">Photos</a></li>
  {{ else}}
  <li><a href="/photos">Photos</a></li>
  {{ end }}

  {{ if .IsLoggedIn }}
  {{ if eq .Referer "/budget" }}
  <li><a href="/budget" class="active">Budget</a></li>
  {{ else}}
  <li><a href="/budget">Budget</a></li>
  {{ end }}
  {{ end }}

  <li style="float:right">
    {{ if .IsLoggedIn }}
    <a href="/logout">Logout</a>
    {{ else }}

    {{ if eq .Referer "/login"}}
    <a href="/login" class="active">Login</a>
    {{ else }}
    <a href="/login">Login</a>
    {{ end }}

    {{ end }}
  </li>

</ul>
