:root {
  --tan: #e1b382;
  --shadow: #c89666;
  --blue: #2d545e;
  --night: #12343b;
  --black: #000000;
  --white: #ffffff;
  --md: 5px;
}

h1,
 h2,
 h3,
 h4,
 p,
 ul,
 li,
 a {
  font-family: monospace;
}

h1,
 h2,
 h3,
 h4,
 a {
  color: var(--tan);
}

section h1 {
  padding-left: 10px;
}

section h2 {
  padding-left: 20px;
  padding-top: 10px;
}

section h3 {
  padding-left: 30px;
  padding-top: 5px;
}

section p {
  color: var(--shadow);
  padding-left: 40px;
  padding-right: 40px;
  max-width: 80%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-bar {
  background-color: var(--blue);
  border-radius: var(--md);
  min-height: 3rem;
}

li {
  float: left;
  min-height: 3rem;
}

li a {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 0px 20px;
  min-height: 3rem;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: var(--tan);
  color: var(--night);
}

.active {
  background-color: var(--shadow);
  color: var(--night);
}

.floating-box {
  color: var(--tan);
  max-width: calc(100% - 10px);
  min-width: calc(200px);
  min-height: 100%;

  background-color: var(--blue);
  border-radius: var(--md);

  margin: 5px;
  padding: 5px;
  font-family: monospace;
}

.floating-box p {
  padding-left: 10px;
  padding-right: 10px;
}

.hstack {
  float: left;
}

.content-frame {
  background-color: var(--night);
  width:auto;
  height:auto;
}

.float-right {
  float: right;
}

.floating-button {
  color: var(--night);
  background-color: var(--shadow);
  border: none;
  border-radius: var(--md);
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-family: monospace;
}

.floating-button:hover {
  background-color: var(--tan);
}

.heading {
  color: var(--tan);
  font-size: xx-large;
  font-weight: bold;
  font-family: monospace;
}

.paragraph {
  color: var(--shadow);
  font-family: monospace;
}

.containerdivNewLine { clear: both;}

.container {
  height:100%;
  width:100%;
  font-size:0;
}

.hstack {
  float: left;
  clear: none;
}

.term {
  color: var(--tan);
  font-weight: bold;
  font-family: monospace;
  font-size: large;
  padding-right: 5px;
  text-align: right;
}

.definition {
  color: var(--shadow);
  font-family: monospace;
  font-size: large;
  text-align: left;
}

.left,
 .middle,
 .right {
  display:inline-block;
  display:inline;
  zoom:2;
  vertical-align:top;
  font-size:13px;
}

.essay-page {
  font-family: monospace;
}

.footer {
  color: var(--shadow);
  font-family: monospace;
  padding-top: 40px;
  text-align: center;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
}

.medium-image {
  max-width: 50%;
  max-height: 50%;
}

.row {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 0 4px;
  /* direction: row; */
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
